.home {
  border-bottom: 1px solid #e7e9fc;
}
.home .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
@media only screen and (min-width: 768px) {
  .logo  {
      padding: 24px 0;
  }
}
.home-logo-part {
  text-transform: uppercase;
  color: #4d5ae5;
}
.main-nav {
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .main-nav {
    margin-left: 120px;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1158px) {
  .main-nav {
    margin-left: 76px;
    margin-right: auto;
  }
}
@media only screen and (max-width: 767.98px) {
  .main-nav {
    display: none;
  }
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main-nav-item {
  align-items: center;
}
.item-feauter {
  position: relative;

  display: block;
  padding: 24px 0px 24px 0px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.item-feauter.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
}
.item-feauter:hover,
.item-feauter:focus,
.item-feauter.current {
  color: #404bbf;
}
.item-team {
  display: block;
  padding: 24px 0px 24px 0px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.item-team:hover,
.item-team:focus,
.item-feauter:active {
  color: #404bbf;
}
.item-portfolio {
  display: block;
  padding: 24px 0px 24px 0px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.item-portfolio:hover,
.item-portfolio:focus,
.item-feauter:active {
  color: #404bbf;
}

@media only screen and (max-width: 767.98px) {
  .address-list {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
.item-address {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
@media only screen and (min-width: 1158px) {
  .item-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.item-address:hover,
.item-address:focus {
  color: #404bbf;
}
.btn-menu-burger {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  border: none;
}
@media only screen and (min-width: 768px) {
  .btn-menu-burger {
    display: none;
  }
}